<h2>{{model.film.title}} ({{model.film.release_date}})</h2>
<h4>Director: {{model.film.director}}</h4>
<h3>Synopsis</h3>
<p>{{model.film.description}})</p>
{{#if model.locations}}
  <h3>Locations</h3>
  {{#each model.locations as |location|}}
    <h3>
      <a href="/location/{{location.id}}">
        {{location.name}}
      </a>
    </h3>
  {{/each}}
{{/if}}

{{#if model.film.people}}
  <h3>People</h3>
  {{#each model.film.people as |person|}}
    <h3>
      <a href="/person/{{person.id}}">
        {{person.name}}
      </a>
    </h3>
  {{/each}}
{{else}}
  <p>
    <b><i>No characters that we know appear in this film...</i></b><br />
    <a href="https://github.com/janaipakos/ghibliapi/issues/new?title=More+%22{{model.film.title}}%22+characters&body=" target="_blank">I know better ! <small>(submit an issue on github)</small></a><br />
    Feeling like contributing ? <a href="https://github.com/janaipakos/ghibliapi/blob/master/CONTRIBUTING.md" target="_blank">Here is how !</a>
  </p>
{{/if}}

{{#if model.vehicles}}
  <h3>Vehicles</h3>
  {{#each model.vehicles as |vehicle|}}
    <h3>
      <a href="/vehicle/{{vehicle.id}}">
        {{vehicle.name}}
      </a>
    </h3>
  {{/each}}
{{/if}}
