{{#page-header}}
  <div class="flex layout-row max100">
    {{paper-icon "movie"}}
    <div class="flex layout-column layout-align-center-center layout-gt-xs-row">
      <h2 class="truncate">
        {{model.film.title}} ({{model.film.release_date}})
      </h2>
      <span class="flex"></span>
      <small class="truncate">Director: {{model.film.director}}</small>
    </div>
    {{favorite-button type="film" id=model.film.id}}
  </div>
{{/page-header}}
<md-content class="flex layout-column">
  {{#paper-list}}
    {{#paper-item}}
      <div class="md-list-item-text">
        <h3>Synopsis</h3>
        <p>{{model.film.description}}</p>
      </div>
    {{/paper-item}}
    {{#if model.locations}}
      {{paper-divider}}
      {{#paper-item}}
        <div class="md-list-item-text">
          <h3>Locations</h3>
        </div>
      {{/paper-item}}
      {{#each model.locations as |location|}}
        {{#paper-item href=(href-to "location" location.id)}}
          <p>
            {{location.name}}
          </p>
        {{/paper-item}}
      {{/each}}
    {{/if}}

    {{#if model.film.people}}
      {{paper-divider}}
      {{#paper-item}}
        <div class="md-list-item-text">
          <h3>People</h3>
        </div>
      {{/paper-item}}
      {{#each model.film.people as |person|}}
        {{#paper-item href=(href-to "person" person.id)}}
          <p>
            {{person.name}}
          </p>
        {{/paper-item}}
      {{/each}}
    {{/if}}

    {{#if model.vehicles}}
      {{paper-divider}}
      {{#paper-item}}
        <div class="md-list-item-text">
          <h3>Vehicles</h3>
        </div>
      {{/paper-item}}
      {{#each model.vehicles as |vehicle|}}
        {{#paper-item href=(href-to "vehicle" vehicle.id)}}
          <p>
            {{vehicle.name}}
          </p>
        {{/paper-item}}
      {{/each}}

    {{/if}}
    {{paper-divider}}
  {{/paper-list}}
  <!-- spacer -->
  <div class="flex"></div>
  {{github-invite class="md-accent md-hue-2"}}
</md-content>
