{{#page-header}}
  <div class="flex layout-column layout-align-center-center layout-gt-xs-row">
    <h2 class="layout-row layout-align-start-center" >
      {{paper-icon "place"}}
      <span>{{model.name}}</span>
    </h2>
    <span class="flex"></span>
  </div>
{{/page-header}}

<md-content class="flex layout-column">
  {{#paper-list}}
    {{#paper-item}}
      <div class="md-list-item-text">
        <h3>Description</h3>
        <p>{{model.description}}</p>
      </div>
    {{/paper-item}}
    {{#paper-item}}
      <div class="md-list-item-text">
        <h3>Characteristics</h3>
        <ul>
          <li>
            <label>Class :</label> {{model.vehicleClass}}
          </li>
          <li>
            <label>Length :</label> {{model.length}} ft
          </li>
        </ul>
      </div>
    {{/paper-item}}
    {{#if model.pilot}}
      {{paper-divider}}
      {{#paper-item}}
        <div class="md-list-item-text">
          <h3>Pilots</h3>
        </div>
      {{/paper-item}}
      {{#paper-item href=(href-to "person" model.pilot.id)}}
        <p>
          {{model.pilot.name}}
        </p>
      {{/paper-item}}
    {{/if}}
    {{#if model.films}}
      {{paper-divider}}
      {{#paper-item}}
        <div class="md-list-item-text">
          <h3>Films</h3>
        </div>
      {{/paper-item}}
      {{#paper-item href=(href-to "film" model.films.id)}}
        <p>
          {{model.films.title}}
        </p>
      {{/paper-item}}
    {{/if}}
  {{/paper-list}}
  <!-- spacer -->
  <div class="flex"></div>
  {{github-invite class="md-accent md-hue-2"}}
</md-content>